{% extends 'components/layout.html' %}

  {% block header %}
  <div class="hero-image">
    <div class="hero-text">
       <p>“There’s a lesson here, and I’m not going to be the one to figure it out.” — Rick</p>
    </div>
  </div>
  {% endblock header %}

  {% block content%}
  <br>
    <div class="container">
      <div class="row">
        <div class="col">
            <div id="slideimgs" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ characters }}" class="d-block w-100" alt="random character">
                </div>
              <div class="carousel-item">
                <img src="{{ avatars }}" class="d-block w-100" alt="random character">
              </div>
              <div class="carousel-item">
                <img src="{{ another }}" class="d-block w-100" alt="random character">
              </div>
              <div class="carousel-item">
                <img src="{{ morepics }}" class="d-block w-100" alt="random character">
              </div>
              <div class="carousel-item">
                <img src="{{ onemore }}" class="d-block w-100" alt="random character">
              </div>
            </div>
          </div>
      </div>
    </div>

  <br>
  <div>
    <center><h5>Rick and Morty is an American adult animated science fiction sitcom created by Justin Roiland and Dan Harmon 
    <br>for Cartoon Network's nighttime programming block Adult Swim. 
    <br>The series follows the misadventures of cynical mad scientist Rick Sanchez and his good-hearted, but fretful grandson Morty Smith, who split their time 
    between domestic life and interdimensional adventures.</h5></center>
    <center><p>Source: <a href="https://en.wikipedia.org/wiki/Rick_and_Morty">Wikipedia</a></p></center>
    <br>
    <center><p>Explore more interdimensional antics at
      <br><a href="https://rickandmorty.fandom.com/wiki/Rickipedia">
      <span id ="rickipedia">Rick and Morty Fandom Wiki</span>
    </a>
    </p></center>
  </div>
    <br>
    
    

{%endblock content%}

{% block footer %}
  
{% endblock footer %}

