{% extends 'components/layout.html' %}

{% block header %}
<div class="hero-image">
    <div class="hero-text">
       <p>“There’s a lesson here, and I’m not going to be the one to figure it out.” — Rick</p>
    </div>
  </div>
  {% endblock header %}
  <br>
{% block content %}

<div id="video">
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/TgqiSBxvdws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>
{% endblock content %}