{% extends 'components/layout.html' %}

{% block content %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Rick and Morty Episode Index</h1>
                <table>
                    <tr>
                        <th>Episode Name</th>
                        <th>Episode Number</th>
                        <th>Air Date</th>
                    </tr>
                    {% for key in episodes %}
                    <tr>
                        <td>{{ episodes[key].name }}</td>
                        <td>{{ episodes[key].eptag }}</td>
                        <td>{{ episodes[key].airdate }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
      
            <div class="col">
                <img class="img-fluid" src ="https://media.giphy.com/media/W35DnRbN4oDHIAApdk/giphy.gif" alt ="Morty is smart">
            </div>
        </div>
    </div>
</div>
{% endblock content %}

